Django~=3.2.6
cryptography~=3.4.8
pip~=21.1.1
argparse~=1.4.0
parso~=0.8.2
jedi~=0.18.0
colorama~=0.4.4
django-mptt~=0.13.2
future~=0.18.2
pytz~=2021.1
sqlparse~=0.4.1
psycopg2~=2.9.1
asgiref~=3.4.1
Jinja2~=3.0.1
djangorestframework~=3.12.4
djoser~=2.1.0
gevent~=21.8.0
cffi~=1.14.6
greenlet~=1.1.1
MarkupSafe~=2.0.1
certifi~=2021.5.30
itypes~=1.2.0
coreapi~=2.3.3
coreschema~=0.0.4
requests~=2.26.0
uritemplate~=3.0.1
Pygments~=2.10.0
ipython~=7.27.0
traitlets~=5.1.0
decorator~=5.0.9
backcall~=0.2.0
pickleshare~=0.7.5
pexpect~=4.8.0
setuptools~=56.0.0
wcwidth~=0.2.5
ptyprocess~=0.7.0
urllib3~=1.26.6
six~=1.16.0
oauthlib~=3.1.1
idna~=3.2
pycparser~=2.20
tldextract~=3.1.1
filelock~=3.0.12
PyJWT~=2.1.0